<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="commonMapper">  


    <!--회원 정보 조회-->
    <select id="selectMemInfo">
        SELECT             
            *
        FROM 
            GAJADB.T_MEM_INFO_M;
    </select>

    <!--회원 정보 등록-->
    <insert id="insertMemberInfo">
        INSERT INTO GAJADB.T_MEM_INFO_M 
        (
            member_id,
            password,
            nick_name,
            email
        )
        VALUES(
            (SELECT IFNULL(MAX(mem.member_id) + 1, 1) FROM GAJADB.T_MEM_INFO_M mem),
            #{psword},
            #{userName},
            #{email}
        )
    </insert>

    <!--회원 이메일 유효성 체크 -->
    <select id="selectEmailUniqueCheck">
        SELECT COUNT(*) as CNT
          FROM GAJADB.T_MEM_INFO_M
         WHERE EMAIL = #{email}
    </select>
</mapper>